
<% @links.each do |link| %>
  <h2><%= link_to link.title, link_path(link) %></h2>
  <h4>
    <small>
      Submitted
      <%= time_ago_in_words(link.created_at) %>
      by xxx
    </small>
  </h4>
  <div class="btn-group" role="group">
    <%= link_to "Visit link", link.url, class: "btn btn-default", type: "button" %>

    <%= link_to like_link_path(link), method: :put, class: "btn btn-default", type: "button" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <%= link.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default", type: "button" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      Downvote
      <%= link.get_downvotes.size %>
    <% end %>
  </div>
  <hr>
<% end %>
